<div class="chat-center" >
  <div class="chat-contacts" [@OpenClose]="isOpen ? 'Open' :'Close'">
    <i class="zmdi zmdi-menu zmdi-hc-2x"></i>
    <h2>
      Contacts
    </h2>
    <div class="chat-contact">
      <div class="chat-pic rogers"></div>
      <div class="chat-badge">
        14
      </div>
      <div class="chat-name">
        Steve Rogers
      </div>
      <div class="chat-message">
        That is America's ass 🇺🇸🍑
      </div>
    </div>
    <div class="chat-contact">
      <div class="chat-pic stark"></div>
      <div class="chat-name">
        Tony Stark
      </div>
      <div class="chat-message">
        Uh, he's from space, he came here to steal a necklace from a wizard.
      </div>
    </div>
    <div class="chat-contact">
      <div class="chat-pic banner"></div>
      <div class="chat-badge">
        1
      </div>
      <div class="chat-name">
        Bruce Banner
      </div>
      <div class="chat-message">
        There's an Ant-Man *and* a Spider-Man?
      </div>
    </div>
    <div class="chat-contact">
      <div class="chat-pic thor"></div>
      <div class="chat-name">
        Thor Odinson
      </div>
      <div class="chat-badge">
        3
      </div>
      <div class="chat-message">
        I like this one
      </div>
    </div>
    <div class="chat-contact">
      <div class="chat-pic danvers"></div>
      <div class="chat-badge">
        2
      </div>
      <div class="chat-name">
        Carol Danvers
      </div>
      <div class="chat-message">
        Hey Peter Parker, you got something for me?
      </div>
    </div>
  </div>
  <div class="chat-chat" [@OpenClose]="isOpen ? 'Open' :'Close'">
    <div class="chat-contact bar" (click)="isOpen=!isOpen">
      <div class="chat-pic stark"></div>
      <div class="chat-name">
        Tony Stark
      </div>
      <div class="chat-seen">
        Today at 12:56
      </div>
      <div style="position: absolute;right: 0px;top: 7px;color: #969696;">
        <i class="zmdi zmdi-close zmdi-hc-2x"></i>
      </div>
    </div>
    <div class="chat-messages" id="chat">
      <div class="time">
        Today at 11:41
      </div>
      <div class="chat-message parker">
        Hey, man! What's up, Mr Stark? 👋
      </div>
      <div class="chat-message stark">
        Kid, where'd you come from? 
      </div>
      <div class="chat-message parker">
        Field trip! 🤣
      </div>
      <div class="chat-message parker">
        Uh, what is this guy's problem, Mr. Stark? 🤔
      </div>
      <div class="chat-message stark">
        Uh, he's from space, he came here to steal a necklace from a wizard.
      </div>
      <div class="chat-message stark">
        <div class="chat-typing chat-typing-1"></div>
        <div class="chat-typing chat-typing-2"></div>
        <div class="chat-typing chat-typing-3"></div>
      </div>
    </div>
    <div class="chat-input">
      <i class="zmdi zmdi-camera"></i><i class="zmdi zmdi-mood"></i><input placeholder="Type your chat-message here!" type="text" /><i class="zmdi zmdi-mic"></i>
    </div>
  </div>
</div>